# 폴더 제외
__pycache__/
dateutil/
numpy/
numpy-1.26.4.dist-info/
numpy.libs/
pandas/
pandas-2.2.0.dist-info/
pandas.libs/
pip/
python_dateutil-2.8.2.dist-info/
pytz/
pytz-2024.1.dist-info/
six-1.16.0.dist-info/
tzdata/
tzdata-2024.1.dist-info/
numpy-1.26.4-cp311-cp311-win_amd64.whl/
six.py/
torch/
torch-2.2.1.dist-info/
huggingface_hub/
huggingface_hub-0.20.3.dist-info/
transformers/
transformers-4.38.1.dist-info/
tqdm/
tqdm-4.66.2.dist-info/
torchgen/
tokenizers/
tokenizers-0.15.2.dist-info/